body {
    font-family: 'Arial', sans-serif;
    background: #f6f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    display: flex;
    width: 800px;
    max-width: 100%;
    min-height: 480px;
}

.login,
.register {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.login {
    background-color: #ffffff;
}

.register {
    background: linear-gradient(to right, #ff4b2b, #ff416c);
    color: #ffffff;
}

h2 {
    margin: 0 0 20px 0;
    font-weight: bold;
    font-size: 24px;
}


.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

input[type="submit"],
button {
    border-radius: 20px;
    border: 1px solid #ff4b2b;
    background-color: #ff4b2b;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 45px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
}

input[type="submit"]:hover,
button:hover {
    background-color: #ff416c;
    border-color: #ff416c;
}

input[type="submit"]:active,
button:active {
    transform: scale(0.95);
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

a:hover {
    text-decoration: underline;
}

.formulario__label {
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}

.formulario__input {
    width: 100%;
    background-color: #eee;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
}

.formulario__input:focus {
    border: 2px solid #0075FF;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.formulario__input-error {
    font-size: 10px;
    margin-bottom: 0;
    display: none;
}

.formulario__input-error-activo {
    display: block;
}

.formulario__validacion-estado {
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}

.formulario__grupo-btn-enviar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario__mensaje-exito {
    font-size: 14px;
    color: #119200;
    display: none;
}

.formulario__mensaje-exito-activo {
    display: block;
}

.formulario__grupo-correcto .formulario__validacion-estado {
    color: #1ed12d;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
    color: #ff4b2b;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
    color: #ff4b2b;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
    border: 2px solid #ff4b2b;
}